@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@100&family=Megrim&display=swap');

/* Variables */
$heading: 'Megrim', cursive;
$script: 'Big Shoulders Inline Display', cursive;
// $para: 

$phone: 500px;
$tablet: 900px;
$desktop: 901px;

/* Screensize */
@mixin screenSize {
    @media only screen and (max-width: $small) {
        grid-template-columns: 1;
        grid-template-rows: repeat(10, 1fr);
    }
    @media only screen and (min-width: $large) {
        grid-template-columns: 50px repeat(3, 1fr) 50px;
        grid-template-rows: repeat(5, 1fr);
        // height: 900px;
    }
}

/* Components */
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Global */
* {
    color: white;
    font-family: $script;
    list-style-type: none;
    border-radius: 5px;
}

body {
    background-color: black;
}

//==============================================================================//
/* Landing Page */

.landing {
    @media only screen and (min-width: $desktop) {
        font-size: 50px;

        @include flexCenter;
        flex-direction: column;

        &__heading {
            font-family: $heading;
        }

        &__script {
            font-family: $script;
        } 
    }
}

//==============================================================================//
/* About Page */

.about {
    @media only screen and (min-width: $desktop) {
        font-size: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;    

        &__heading {
            font-family: $heading;
        }

        &__script {
            font-family: $script;
            padding: 10px 10%;
        } 
    }
}

//==============================================================================//
/* Projects */

.projects {
    @media only screen and (min-width: $desktop) {
        display: flex;
        flex-direction: column;    
        align-items: center;
        
        &__heading {
            font-size: 50px;
            font-family: $heading;
            margin: 10px;
        }
    }
}

/* Project - Component */
.project {
    @media only screen and (min-width: $desktop) {
        font-size: 30px;
        border: 1px solid red;

        &__img {
            border-radius: 5px 5px 0px 0px;
        }

        &__cardBody {
            border: 1px solid aqua;
            padding: 5px;
        }

        &__title {
            font-family: $heading;
        }

        &__script {
            font-family: $script;
        }

        &__anchor {
            font-family: $script;
        }
    }
}

//==============================================================================//
/* Skills */
$skillWidth: 300px;

.skills {
    @media only screen and (min-width: $desktop) {
        display: flex;
        flex-direction: column;    
        align-items: center;
        
        &__div {
            display: flex;

        }

        &__heading {
            font-size: 50px;
            font-family: $heading;
            margin: 10px;
        }
    }
}

/* Skill - Component */
.skill {
    @media only screen and (min-width: $desktop) {
        width: $skillWidth;
        margin: 5px;

        // border: 1px solid red;
        background-color: darkslategray;

        &__cardBody {
            display: flex;
            flex-direction: column;
            align-items: center;

            // border: 1px solid aqua;
            padding: 5px;
        }

        &__title {
            justify-content: center;
            font-family: $heading;
            font-size: 30px;
            padding-bottom: 5px;
        }

        &__img {
            border-radius: 5px 5px 0px 0px;

            object-fit: cover;
            width: $skillWidth;
        }

        &__script {
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

//==============================================================================//
/* Nav */

.nav {
    @media only screen and (min-width: $desktop) {
        display: flex;
        justify-content: center;

        &__link {
            padding: 10px 10px; /* Y X */
        }
    }
}
